<article>
    <section class="person-detail">
        <h2 class="person-heading">{{ person?.name }}</h2>
    </section>
    <section class="astronaut-detail">
        <h3 class="astronaut-heading">{{ astronautDetail?.currentRank }}</h3>
    </section>
    <section class="duty-apply">
        <h2 class="sectionheading">Apply now to be an astronaut</h2>
        <form [formGroup]="dutyForm" (submit)="submitDuty()">
            <label for="duty">Duty</label>
            <input id="duty" type="text" formControlName="duty" />

            <label for="startDate">Start Date</label>
            <input id="startDate" type="date" formControlName="startDate" />

            <button type="submit" class="primary">Apply now</button>
        </form>
    </section>
</article>