<article>
    <section class="person-detail">
        <h2 class="person-heading">{{ personAstronaut?.name }}</h2>
    </section>
    <section class="astronaut-heading">
        <p class="astronaut-heading-subtitle">Career Dates</p>
        <p>
            {{ personAstronaut?.careerStartDate | date }} - {{ personAstronaut?.careerEndDate }}
        </p>
        <span class="astronaut-heading-subtitle">Current Rank:</span>
        <span class="astronaut-rank">{{ personAstronaut?.currentRank }}</span>
    </section>
    <section class="duty-apply">
        <h3 class="sectionheading">Apply now to be an astronaut</h3>
        <mat-form [formGroup]="dutyForm" (submit)="submitDuty()">
            <mat-label for="duty">Duty</mat-label>
            <input matInput id="duty" type="text" formControlName="duty" />

            <mat-label for="startDate">Start Date</mat-label>
            <input matInput id="startDate" type="date" formControlName="startDate" />

            <button mat-button type="submit" class="primary">Apply now</button>
        </mat-form>
    </section>
    <section class="astronaut-duties">
        <h3 class="duties-heading">Previous Duties</h3>
        <app-astronaut-duties-table></app-astronaut-duties-table>
    </section>
</article>