<article>
    <section class="person-astronaut">
        <h2 class="person-astronaut-heading">{{ person.name }}</h2>
        <section class="person-astronaut-info">
            <h3 class="person-astronaut-rank">
                {{ person.currentRank }}
            </h3>
            <p>Current Duty: {{ person.currentDutyTitle }}</p>
            @if (person.careerStartDate) {
                <p>Astronaut Career Dates</p>
                <p>{{ person.careerStartDate | date }} - {{ person.careerEndDate | date }}</p>
            }
        </section>
        <a [routerLink]="['/astronaut-detail', person.name]">Astronaut Details</a>
    </section>
</article>